<div id="<%= dom_id student %>">
  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= student.full_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= student.password %>
  </p>

  <p>
    <strong>Extern joins stat:</strong>
    <%= student.extern_joins_stat %>
  </p>

  <p>
    <strong>Forces moments stat:</strong>
    <%= student.forces_moments_stat %>
  </p>

  <p>
    <strong>Con rod stat:</strong>
    <%= student.con_rod_stat %>
  </p>

  <p>
    <strong>Ball joint stat:</strong>
    <%= student.ball_joint_stat %>
  </p>

</div>
