<div id="<%= dom_id student %>">
  <p>
    <strong>Full name:</strong>
    <%= student.full_name %>
  </p>
    <br/>
  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>
  <br/>
  <p>
    <h2>Experiencia Ganada</h2> 
  </p>
  <br/>
  <p>
    <strong>Uniones Externas:</strong>
    <%= student.extern_joins_stat %>
  </p>
  <br/>
  <p>
    <strong>Fuerzas y Momentos:</strong>
    <%= student.forces_moments_stat %>
  </p>
  <br/>
  <p>
    <strong>Biela:</strong>
    <%= student.con_rod_stat %>
  </p>
  <br/>
  <p>
    <strong>Rotulas:</strong>
    <%= student.ball_joint_stat %>
  </p>
<br/>
</div>