<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <% if problem.image.attached? %>
            <%= image_tag problem.image, width: '50%', class:"card-img-top", style: "height: 225px; width: 100%; display: block;" %>
        <% end%>
        <div class="card-body">
            <h4 class="mt-5">Tarea <%= problem.title %></h4>
            <p class="card-text"><%=  problem.description %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <%= link_to "Revisar", problem %>   &nbsp; | &nbsp;
                    <%= link_to 'Duplicar', duplicate_path(problem.id) %>
                </div>
            </div>
        </div>
    </div>
</div>