<div id="<%= dom_id problem %>">
  <p>
    <strong>Admin teacher:</strong>
    <%= problem.admin_teacher_id %>
  </p>

  <p>
    <strong>Structure:</strong>
    <%= problem.structure_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= problem.title%>
  </p>

  <% if problem.image.attached? %>
    <p>
      <%= image_tag problem.image, width: '100%', height: '100%'%>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= problem.description %>
  </p>

  <p>
    <strong>Extern joins points:</strong>
    <%= problem.extern_joins_points %>
  </p>

  <p>
    <strong>Forces moments points:</strong>
    <%= problem.forces_moments_points %>
  </p>

  <p>
    <strong>Con rod points:</strong>
    <%= problem.con_rod_points %>
  </p>

  <p>
    <strong>Ball joint points:</strong>
    <%= problem.ball_joint_points %>
  </p>

  <p>
    <strong>Force vector list:</strong>
    <%= problem.structure.force_values %>
  </p>

  <p>
    <strong>Momentum list:</strong>
    <%= problem.structure.moment_values %>
  </p>

  <p>
    <div id="applet_container" ></div>
  </p>

</div>
