<div id="<%= dom_id problem %>">
  <p>
    <strong>Title:</strong>
    <%= problem.title%>
  </p>

  <% if problem.image.attached? %>
    <p>
      <%= image_tag problem.image, width: '100%', height: '100%'%>
    </p>
  <% end %>

  <p>
    <strong>Enunciado:</strong>
    <%= problem.description %>
  </p>

  <p>
    <strong>Nodo de Referencia Momentos:</strong>
    <%= problem.structure.moment_reference %>
  </p>

  <p>
    <strong>Listado de Fuerzas:</strong>
    <%= problem.structure.force_values %>
  </p>

  <p>
    <strong>Listado de Momentos:</strong>
    <%= problem.structure.moment_values %>
  </p>

  <p>
    <div id="applet_container" ></div>
  </p>

</div>
