<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to "Admin Teachers", admin_teachers_url %>
      <li><%= link_to "Problems", problems_url %>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h2>Problems</h2> 
</div>

<div id="problems">
  <div class="container">
    <div class="row">
      <% @problems.each do |problem| %>
        <div class="col-sm-4">
          <%= render problem %>
          <p>
            <%= link_to "Show this problem", problem %>
          </p>
          <br>
        </div>
      <% end %>
    </div> 
  </div>
</div>

<div class="container">
  <td>
    <%= link_to "New problem", new_problem_path, :class => "btn btn-primary" %>    
  </td>
</div>


</body>
</html>