<%= form_with(model: admin_teacher) do |form| %>
  <% if admin_teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_teacher.errors.count, "error") %> prohibited this admin_teacher from being saved:</h2>

      <ul>
        <% admin_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
