<!DOCTYPE html>
<html>
  <head>
    <title>DclItsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.geogebra.org/apps/deployggb.js"></script>
  

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column1 {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>

    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns */
    .column2 {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 33%;
    }

    .middle {
    width: 33%;
    }
    
    .right {
    width: 33%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>

  </head>

  <body>
    <%= render "layouts/navbar" %>
    
    <main role="main" class="container">

      <div class="starter-template">
        <%= yield %>
      </div>

    </main>
  </body>
</html>
