<!DOCTYPE html>
<html>
  <head>
    <title>DclItsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.geogebra.org/apps/deployggb.js"></script>
  

    <%= javascript_importmap_tags %>
    

  </head>

  <body>
    <%= render "layouts/navbar" %>
    
    <main role="main" class="container">

      <div class="starter-template">
        <%= yield %>
      </div>

    </main>
  </body>
</html>
